*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
html,body{
   width: 100%;
   height: 100%; 
}
.boxclear{
    content: " ";
    display: block;
    clear: both;
}